<footer class="bg-dark" style="background-color: rgba(0, 0, 0, 1);">
  <!-- Footer content -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="contact-details text-center p-3 text-white">
          <ul class="social-menu">
            <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100005843490736"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://open.spotify.com/playlist/0ZTRlQpeU972TCHCfldVea?si=71OeJ6sgRziTvx0f7dwCPw&utm_source=copy-link&nd=1"><i class="fa fa-spotify"></i></a></li>
            <li class="list-inline-item"><a href="https://instagram.com/hereyndnow"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.youtube.com/channel/UC63OgSKEa-FdMQB2dkMm2XA"><i class="fa fa-youtube"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/r4hulchouhan"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://www.github.com/dopeprogr4mmer"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center p-3 text-white">
          &copy; 2021 | <a href="/" style="color: skyblue; text-decoration: none;">travelrealindia</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center p-3 text-white">
          <a href="/contact" style="color: skyblue; text-decoration: none;">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer content -->
</footer>