{% extends 'base.html' %}
{% load static %}
{% block center %}
  <div class="align-self-xl-center mx-auto">
    <h1>Data Deletion Instructions URL</h1>
    According to the Facebook Apps and Websites Platform rules, we have to provide User Data Deletion Callback URL or Data Deletion Instructions URL. If you want to delete your activities for the PalZtogo App, you can remove them by following the instructions below.<br><br>

    1. Go to Your Facebook Account’s “Settings & Privacy”, then click on ”Settings“.<br>
    2. Next, go to “Apps and Websites” where you will see all of the activity related to apps and websites that are 
    <br>linked to your Facebook account.<br>
    3. Select the option box for the PalZtogo App and click on the “Remove” button.<br>
    4. Mark the option boxes according to your preference and click on the “Remove” button.<br> 
    5. You’re done! You removed PalZtogo from your activities successfully. 
  </div>
{% endblock %}
