{% load static %}
<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
    <title>Places Search Box</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
  </head>
  <body>
    {% include 'header.html' %}
    <form action="{% url 'weatherapp:get-weather' %}" method="get">
    <input
      id="pac-input"
      class="controls"
      type="text"
      name="q"
      method="get"
      placeholder="Search"
    />
   </form>
    <div id="map"></div>

    {% include 'alternatefooter.html' %}
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcDXbD6bpnEnutVXGdZRkRLjz0iKy6aLQ&callback=initAutocomplete&libraries=places&v=weekly"
      async
    ></script>
    {% include 'scripts.html' %}
  </body>
</html>